body {
  font-family: "Cafe Aroma";
}

header {
  padding-top: 25px;
}

img {
/*  width: 100%; */
}

.col-centered{

    background-color: #C41B2D;
    height: 300px;
    margin: 0 auto;
}

.veggieicon{
  height: 16px;
  width: 16px;
}
